body {
    margin: 0;
    background: white;
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
}


.header {
    max-width: 950px;
    margin: 40px auto 20px auto;
    padding: 0 30px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.header-text {
    max-width: 700px;
}


h1 {
    font-size: 38px;
    margin: 0;
    font-weight: 700;
}


.header h2 {
    margin: 5px 0 15px;
    font-size: 20px;
    font-weight: 400;
    color: #555;
}


.tagline {
    font-size: 14px;
    color: #003B5C;
}


.about {
    margin-top: 20px;
    font-size: 15px;
    line-height: 1.5;
}



.profile img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
}




.layout {

    max-width: 950px;

    margin: 30px auto;

    padding: 0 30px;

    display: grid;

    grid-template-columns: 40% 60%;

    gap: 40px;

}



section {

    margin-bottom: 30px;

}



h3 {

    font-size: 12px;

    letter-spacing: 1.8px;

    color: #003B5C;

    border-bottom: 1px solid #ddd;

    padding-bottom: 5px;

    margin-bottom: 15px;

}



.item {

    margin-bottom: 18px;

}


.item strong {

    font-size: 15px;

}


p {

    font-size: 14px;

    color: #555;

    margin: 5px 0;

}



.map-placeholder {

    height: 180px;

    border: 1px solid #ddd;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:13px;

    color:#777;

}



footer {

    max-width:950px;

    margin:auto;

    padding:30px;

}



@media(max-width:800px){

.layout {

grid-template-columns:1fr;

}


.header {

flex-direction:column;

}

}
